.navbar{
  color: white;
  width: 3000px;
  height: 500px;
}
.navLeft{
  display: flex;
  flex-direction: row;
}
.navLogo{
  height: 100px;
  width: 190px;
}
.navImgLogo{
  height: 65px;
  width: 120px;
  padding-left: 40px;
}
.navHome{
  padding-top: 5px;
  width: 100px;
}
.navSeries{
  padding-top: 5px;
  width: 70px;
}
.navMovies{
  padding-top: 5px;
  width: 100px;
}